body {
  padding: 15px 10px 10px 15px;
}

.breadcrumb-div {
  padding: 15px 10px 10px 15px;
}

.help-div {
    background-color: #eee;
    border: 1px #bbb solid;
}

.ecos-card {
  width: 300;
  margin-left: 8px;
  margin-bottom: 8px;
}

.ecos-card-typeid {
  font-size: 12pt;
}

.ecos-card-ref {
  color: green;
  font-size: 12pt;
}

.ecos-card-summary {
  font-size: 12pt;
}

.ecos-card-contact {
   color: green; 
   float: right;
}
.ecos-card-state {
  font-size: 10px;
  float:right;
}

.ecos-card-priority {
  font-size: 10px;
}

.ecos-card-tags {
  font-size: 10pt;
}
