body {
  padding: 15px 10px 10px 15px;
}

.breadcrumb-div {
  padding: 15px 10px 10px 15px;
}

a {
  decorator: none;
}

.ecos-properties-div {
    float:right;
    margin-top: 100px;
    width: 425px;
    border: 1px #bbb solid;    
}

.ecos-help-div {
     background-color: #ccc; 
}

.ecos-pop-up-div {
    position: absolute;
    top: 100;
    right: 10;
    width: 600;
    background-color: beige;
    border: 1px #bbb solid;    
}

.ecos-content-div {
   padding-right: 340px;
}

.ecos-card {
  width: 300;
  margin-left: 8px;
  margin-bottom: 8px;
}

.ecos-card-typeid {
  font-size: 10pt !important;
}

.ecos-card-ref {
  color: green;
  font-size: 10px;
}

.ecos-card-summary {
  font-size: 10pt !important;
}

.ecos-card-contact {
   color: green; 
   float: right;
  font-size: 10px;
}
.ecos-card-state {
  font-size: 10px;
  float:left;
}

.ecos-card-priority {
  font-size: 10px;
}

.ecos-card-tags {
  font-size: 8px;
}
