body {
  padding: 15px 10px 10px 15px;
}

.breadcrumb-div {
  padding: 15px 10px 10px 15px;
}



.ecos-properties-div {
    float:right;
    margin-top: 100px;
    width: 600;
    background-color: #ccc;
    border: 1px #bbb solid;    
}

.ecos-pop-up-div {
    position: absolute;
    top: 100;
    right: 10;
    width: 600;
    background-color: beige;
    border: 1px #bbb solid;    
}

.ecos-content-div {
   margin-right: 700px;
}

.ecos-card {
  width: 300;
  margin-left: 8px;
  margin-bottom: 8px;
}

.ecos-card-typeid {
  font-size: 12pt;
}

.ecos-card-ref {
  color: green;
  font-size: 12pt;
}

.ecos-card-summary {
  font-size: 12pt;
}

.ecos-card-contact {
   color: green; 
   float: right;
  font-size: 10pt;
}
.ecos-card-state {
  font-size: 10pt;
  float:right;
}

.ecos-card-priority {
  font-size: 10pt;
}

.ecos-card-tags {
  font-size: 8pt;
}
